

.width-height-card {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 780px;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
     /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
    box-shadow: 0 0 0.5em 1px #fcfcfc; 
    border-radius: 20px;
}

@media  screen and (max-width:420px) {
    .width-height-card {
        position: relative;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        padding: 20px;
        overflow-x: hidden;
    }
}
.hiden-scroll::-webkit-scrollbar {
    display: none;
}

.form-control{
    background: rgba(255, 255, 255, 1);
    color: #000000;
    font-weight: 500;
    font-size: 20px;
}

.header-title{
    color: #fcfcfc;
    padding-top: 18px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}


.text-color{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 10px;
    
}
.date-picker{
    background: rgba(255, 255, 255, 1);
    color: #000000;
    height: 1.8rem;
    border-radius: 7px;
    padding-bottom: 2.7rem;
}
.mat-login{
    color: black;
    background-color: rgb(255, 255, 255);
    height: 1.8rem;
    border-radius: 7px;
    padding-bottom: 2.7rem;
}

@media screen and (max-width:420px) {
    .date-picker{
        color: black;
        background-color: rgb(255, 255, 255);
        height: 1.8rem;
        border-radius: 7px;
        padding-bottom: 2.7rem;
        margin-top: 20px;
        margin-left: 22px;
    }
}

.bg-stepper{
    background-color: rgba(0, 0, 0, 0);
}

.form-login{
    width: 12rem;

}

.mat-step-text-label {
    text-overflow: ellipsis;
    overflow: hidden;
    color: white;
}