<div class="container width-height-card hiden-scroll">
    <h1 class="header-title">ลงทะเบียนผู้เช่า</h1>
    <mat-stepper #stepper class="bg-stepper">
        <mat-step [stepControl]="formUserDetail">
            <form [formGroup]="formUserDetail">
                <ng-template matStepLabel>
                    <p class="text-white mt-2">ลงทะเบียนผู้เช่า</p>
                </ng-template>
                <div>
                    <div class="row row-cols-md-2 ">
                        <div class="col-md-6 left-col">
                            <label for="firstName" class="text-color">ชื่อ</label>
                            <input formControlName="firstName" class="form-control" type="text">
                        </div>
                        <div class="col-md-6 right-col">
                            <label for="lastName" class="text-color">นามสกุล</label>
                            <input formControlName="lastName" class="form-control" type="text">
                        </div>
                    </div>
                    <div class="row row-cols-md-2 mt-2">
                        <div class="col-md-6 left-col">
                            <label for="birthday" class="text-color">วัน/เดือน/ปีเกิด</label>
                            <input formControlName="birthday" class="form-control" type="text" >
                        </div>
                        <div class="col-md-6 right-col">
                            <label for="tel" class="text-color">เบอร์โทรศัพท์</label>
                            <input formControlName="tel" class="form-control" type="text" (keyup)="checkTelephone()">
                        </div>
                    </div>
                    <div class="row row-cols-md-2 mt-2">
                        <div class="col-md-6 left-col">
                            <label for="email" class="text-color">อีเมล</label>
                            <input formControlName="email" class="form-control" type="text" >
                        </div>
                        <div class="col-md-6 right-col">
                            <label for="age" class="text-color">อายุ</label>
                            <input formControlName="age" class="form-control" type="number" >
                        </div>
                    </div>
                    <div class="row row-cols-md-2 mt-2">
                        <div class="col-md-6 left-col">
                            <label for="idCard" class="text-color">เลขบัตรประจำตัวประชาชน</label>
                            <input formControlName="idCard" class="form-control" type="text" >
                        </div>

                    </div>
                    <div class="row row-cols-md-1 mt-2">
                        <div class="col-md-12 left-col">
                            <label for="address" class="text-color">ที่อยู่</label>
                            <textarea formControlName="address" class="form-control" type="text" ></textarea>
                        </div>
                    </div>
                    <div class="row row-cols-md-3 mt-2">
                        <div class="col-md-4 left-col">
                            <label for="deposit" class="text-color">เงินมัดจำ</label>
                            <input formControlName="deposit" class="form-control" type="number" >
                        </div>
                        <div class="col-md-4 right-col">
                            <label for="roomNumber" class="text-color">ห้องที่เช่า</label>
                            <select formControlName="roomNumber" class="form-control form-control-lg" type="text">
                                <option></option>
                                <option *ngFor="let item of roomStatusData">{{item.roomNumber}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 right-col">
                            <label for="bookingDateOfStay" class="text-color">วันที่เข้าอยู่</label>
                            <mat-form-field appearance="outline" class="date-picker">
                                <input matInput [matDatepicker]="datepicker" formControlName="bookingDateOfStay">
                                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                                <mat-datepicker #datepicker>
                                    <mat-datepicker-actions>
                                        <button mat-button matDatepickerCancel>ยกเลิก</button>
                                        <button mat-raised-button color="primary" matDatepickerApply>ยืนยัน</button>
                                    </mat-datepicker-actions>
                                </mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- <div class="row row-cols-md-3 mt-5">
                        <div class="col-md-5 left-col">
                            <label class="text-color">อัปโหลด สำเนาบัตร</label>
                            <input type="file" class="form-control-file">
                        </div>
                        <div class="col-md-5 right-col">
                            <label class="text-color">อัปโหลด สำเนาเอกสาร</label>
                            <input type="file" class="form-control-file">
                        </div>
                    </div> -->
                </div>
                <label *ngIf="this.formUserDetail.value.bookingDateOfStay == null" class="float-right bg-seccondary"
                    mat-button matStepperNext>ถัดไป</label>
                <button *ngIf="this.formUserDetail.value.bookingDateOfStay != null" class="float-right bg-info "
                    mat-button matStepperNext type="submit">ถัดไป</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="formUser">
            <form [formGroup]="formUser" (ngSubmit)="createUserDetail()">
                <ng-template matStepLabel>
                    <p class="text-white mt-2">ลงทะเบียนเข้าระบบ</p>
                </ng-template>
                <div class="container ">
                    <div class="row">
                        <div class=" d-block mx-auto align-middle">
                            <label for="userName" class="text-color ">Username</label>
                            <input formControlName="userName" class="form-control form-login" type="text">
                            <label for="password" class="text-color mt-3">Password</label>
                            <input formControlName="password" class="form-control form-login" type="text">
                        </div>
                    </div>
                </div>
                <button class=" d-block mx-auto bg-info mt-4 text-white" mat-button matStepperNext type="submit">ยืนยัน</button>

            </form>
        </mat-step>
    </mat-stepper>
</div>