<div class="body-color" *ngIf="statusLogin == 'login'">
  <nav class="navbar navbar-expand-lg navStyle border-bottom">
    <div class="brandStyle" id="menu-toggle" routerLink="/room">
      <img class="img-style" src="https://img.icons8.com/fluency/24/000000/hostel.png" />
      ห้องพักบุญสร้าง
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <img src="https://img.icons8.com/plumpy/48/000000/menu-squared-2.png" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <div class="row">
          <div class="col-4">
            <li class="nav-item mr-3 btn-logout" *ngIf="permission == 'ADMIN'">
              <a routerLink="setting">
                <span class="icon">
                  <img type="button" src="https://img.icons8.com/arcade/45/experimental-edit-arcade.png" />
                </span>
              </a>
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item btn-logout">
              <img class="btn_fullSc" *ngIf="status == false" type="button" src="https://img.icons8.com/ios-filled/40/expand--v1.png"
                (click)="onClickFullScreen(false)">
              <img class="btn_fullSc" *ngIf="status == true" type="button" src="https://img.icons8.com/ios-glyphs/40/collapse.png"
                (click)="onClickCloseFullScreen(true)">
            </li>
          </div>
          <div class="col-4">
            <li class="nav-item btn-logout">
              <img class="" (click)="logout()" type="button" src="https://img.icons8.com/cotton/48/shutdown--v1.png" />
            </li>
          </div>
        </div>
      </ul>
    </div>
  </nav>

  <div class="menu">
    <div class="navigation">
      <ul class="ul-mar">
        <li class="list" *ngIf="permission == 'ADMIN' || permission == 'USER'">
          <a routerLink="room">
            <span class="icon">
              <img src="https://img.icons8.com/dusk/54/000000/room.png" />
            </span>
            <span class="text pl-3">ROOM</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'ADMIN'">
          <a routerLink="invoice-data">
            <span class="icon empty">
              <img
                src="https://img.icons8.com/external-soft-fill-juicy-fish/48/000000/external-data-data-visualisation-soft-fill-soft-fill-juicy-fish-4.png" />
            </span>
            <span class="text empty pl-2">METER</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'ADMIN'">
          <a routerLink="invoice-data">
            <span class="icon empty">
              <img
                src="https://img.icons8.com/external-itim2101-lineal-color-itim2101/48/external-pay-currency-and-money-itim2101-lineal-color-itim2101.png" />
            </span>
            <span class="text empty pl-3">Payment</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'ADMIN'">
          <a routerLink="user-detail">
            <span class="icon">
              <img
                src="https://img.icons8.com/external-flat-geotatah/64/000000/external-register-training-management-system-flat-flat-geotatah.png" />
            </span>
            <span class="text pl-2">REGISTER</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'ADMIN'">
          <a routerLink="manage-user">
            <span class="icon empty">
              <img
                src="https://img.icons8.com/external-febrian-hidayat-fill-lineal-febrian-hidayat/48/000000/external-manage-business-and-management-febrian-hidayat-fill-lineal-febrian-hidayat.png" />
            </span>
            <span class="text empty pl-3">Manage USER</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'ADMIN'">
          <a routerLink="report">
            <span class="icon empty">
              <img
                src="https://img.icons8.com/external-flatart-icons-flat-flatarticons/48/000000/external-report-world-cancer-awareness-flatart-icons-flat-flatarticons.png" />
            </span>
            <span class="text empty pl-3">Report</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'ADMIN'">
          <a routerLink="checkout">
            <span class="icon empty">
              <img
                src="https://img.icons8.com/external-flaticons-flat-flat-icons/48/external-checkout-hospitality-services-flaticons-flat-flat-icons.png" />
            </span>
            <span class="text empty pl-3">Checkout</span>
          </a>
        </li>
        <li class="list" *ngIf="permission == 'USER'">
          <a routerLink="profile">
            <span class="icon empty">
              <img src="https://img.icons8.com/color/55/000000/user.png" />
            </span>
            <span class="text empty pl-3">Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-full-screen">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="body-color" *ngIf="statusLogin == 'logout' || statusLogin == null">
  <!-- ********************************   Login   *********************************** -->
  <div class="container container-login">
    <div class="text-title"></div>
    <div class="myCard">
      <div class="row">
        <div class="col-sm-5">
          <div class="myLeftCtn">
            <form [formGroup]="formLogin" (ngSubmit)="checkUserAndPass()" class="myForm text-center">
              <header>LOGIN</header>
              <div class="form-group">
                <input formControlName="userName" class="myInput" type="text" placeholder="username" id="userName"
                  [ngClass]="{ 'is-invalid': submitLogin }" (ngModelChange)="onChange()" required />
                <div class="invalid-feedback" *ngIf="
                    statusUsername == false && formValidLogin.userName.errors
                  ">
                  กรุณากรอกชื่อผู้ใช้
                </div>
                <div class="invalid-feedback" *ngIf="statusUsername == true">
                  บัญชีผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง
                </div>
              </div>
              <div class="form-group mb-4 mt-2">
                <input formControlName="password" class="myInput" type="password" placeholder="password" id="password"
                  (ngModelChange)="onChange()" required />
              </div>
              <input type="submit" class="butt mb-5" value="LOGIN" /><br />
              <!-- <a type="button" class="mt-1" (click)="onSwitchPage()">Create new account</a> -->
              <p type="button" class="mt-1 link-to-guest" (click)="loginWithGuest()">Login with guest</p>
            </form>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="myRightCtn">
            <div class="box">
              <header>ห้องพักบุญสร้าง</header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                eaque, ipsum aut autem pariatur ut cupiditate possimus
                voluptatum delectus iste.
              </p>
              <!-- <img src="../assets/image/map.jpg" alt="" width="480" height="250"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- ********************************   Register   *********************************** -->

  <div class="container" *ngIf="this.showRegisterPage == 1 && this.checkAdminIsEmpty == 0">
    <div class="myCard">
      <div class="row">
        <div class="col-md-6">
          <div class="myLeftCtn">
            <form [formGroup]="formUser" (ngSubmit)="oncreateUser()" class="myForm text-center">
              <header>Create new account</header>
              <div class="form-group mb-2">
                <i for="userName" class="fas fa-user"></i>
                <input formControlName="userName" class="myInput" type="text" placeholder="username" id="userName"
                  required />
              </div>
              <div class="form-group mb-5">
                <i for="password" class="fas fa-envalope"></i>
                <input formControlName="password" class="myInput" type="password" placeholder="password" id="password"
                  required />
              </div>
              <button type="submit" class="butt mb-4" value="CREATE ACCOUNT">
                Register
              </button>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="myRightCtn">
            <div class="box">
              <header>Dormitory</header>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
                eaque, ipsum aut autem pariatur ut cupiditate possimus
                voluptatum delectus iste.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>