<div *ngIf="statusLogin == 'login'">
  <div class="container">
    <div class="navbar">
      <div class="menu">
        <h3 class="logo">ห้องเชือด<span> 101</span></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </div>
    <div class="main-container">
      <div class="main">
        <div class="header">
          <div class="overlay">
            <div class="inner">
              <div class="card card-router-outlet" >
                <router-outlet></router-outlet>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shadow one"></div>
      <div class="shadow two"></div>
    </div>
    <div class="links">
      <ul>
        <li>
          <a style="--i: 0.05s; font-weight: 800;">Dashboard</a>
        </li>
        <li class="mt-5">
          <a routerLink="room" class="toggleClose" style="--i: 0.1s;">ผังห้อง</a>
        </li>
        <li class="">
          <a routerLink="room" class="toggleClose" style="--i: 0.1s;">ลงทะเบียน</a>
        </li>
        <li>
          <a style="--i: 0.15s;">จดมิเตอร์</a>
        </li>
        <li>
          <a style="--i: 0.2s;">จัดการผู้ใช้งาน</a>
        </li>
        <li class="mt-5">
          <a style="--i: 0.25s;">ตั้งค่า</a>
        </li>
        <li>
          <a type="button" class="text-danger " (click)="logout()" href="#" style="--i: 0.3s; ">ออกจากระบบ</a>
        </li>
      </ul>
    </div>
  </div>
</div>



<body *ngIf="statusLogin == 'logout' || statusLogin == null">
  <!-- ********************************   Login   *********************************** -->
  <div class="container-login">
    <div class="myCard">
      <div class="row">
        <div class="col-md-6">
          <div class="myLeftCtn">
            <form [formGroup]="formLogin" (ngSubmit)="checkUserAndPass()" class="myForm text-center">
              <header>LOGIN</header>
              <div class="form-group">
                <i for="userName" class="fas">
                  <!-- <span class="material-icons">
                      account_circle
                    </span> -->
                </i>
                <input formControlName="userName" class="myInput" type="text" placeholder="Username" id="userName"
                  [ngClass]="{'is-invalid': submitLogin}" (ngModelChange)="onChange()" required>
                <div class="invalid-feedback" *ngIf="statusUsername == false && formValidLogin.userName.errors">
                  กรุณากรอกชื่อบัญชี
                </div>
                <div class="invalid-feedback" *ngIf="statusUsername == true">
                  บัญชีผู้ใช้งานหรือรหัสผ่านไม่ถูกต้อง
                </div>
              </div>
              <div class="form-group mb-4 mt-2">
                <i for="password" class="fas">
                  <!-- <span class="material-icons">
                      vpn_key
                    </span> -->
                </i>
                <input formControlName="password" class="myInput" type="password" placeholder="password" id="password"
                  (ngModelChange)="onChange()" required>
              </div>

              <input type="submit" class="butt mb-5" value="LOGIN"><br>
              <a type="button" class="mt-1" (click)="onSwitchPage()">Create new account</a>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="myRightCtn">
            <div class="box">
              <header>Dormitory</header>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eaque, ipsum aut autem
                pariatur ut cupiditate possimus voluptatum delectus iste.</p>
              <input type="button" class="butt_out" value="Learn More">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- ********************************   Register   *********************************** -->

  <div class="container-login" *ngIf="this.showRegisterPage == 1 ">
    <div class="myCard">
      <div class="row">
        <div class="col-md-6">
          <div class="myLeftCtn">
            <form [formGroup]="formUser" (ngSubmit)="oncreateUser()" class="myForm text-center">
              <header>Create new account</header>
              <div class="form-group m-2">
                <i for="userName" class="fas fa-user"></i>
                <input formControlName="userName" class="myInput" type="text" placeholder="username" id="userName"
                  required>
              </div>
              <div class="form-group mb-2">
                <i for="password" class="fas fa-envalope"></i>
                <input formControlName="password" class="myInput" type="password" placeholder="password" id="password"
                  required>
              </div>
              <div class="form-group mb-2">
                <i class="fas fa-envalope"></i>
                <input class="myInput" type="password" placeholder="confirm-password" id="confirm-password" required>
              </div>
              <div class="form-group">
                <label for="permission" class="font-color"></label>
                <select formControlName="permission" class="myInput" type="text">
                  <option value="ADMIN">ADMIN</option>
                  <option value="OWNER">OWNER</option>
                  <option value="USER">USER</option>
                </select>
              </div>
              <div class="form-group m-3">
                <label><input id="check_1" name="check_1" type="checkbox" required><small> I agree to
                    Terms & Conditions</small>
                  <div class="invalid-feedback"> You must check the box. </div>
                </label>
              </div>

              <input type="submit" class="butt mb-4" value="CREATE ACCOUNT"><br>
              <a type="button" class="mb-2" (click)="onSwitchPage()">Login</a>
            </form>
          </div>
        </div>
        <div class="col-md-6">
          <div class="myRightCtn">
            <div class="box">
              <header>Hello World</header>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eaque, ipsum aut autem
                pariatur ut cupiditate possimus voluptatum delectus iste.</p>
              <input type="button" class="butt_out" value="Learn More">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>