
.width-height-container {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 740px;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
     /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
}

@media  screen and (max-width:420px) {
    .width-height-container {
        position: relative;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        padding: 20px;
        overflow-x: hidden;
         /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
    }
}

.hiden-scroll::-webkit-scrollbar {
    display: none;
}


.font-color{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 8px;
}

.card-room{
    padding: 0;
    align-items: center;
    margin-left: 1rem;
    padding-left: 0.4rem;
    justify-content: center;
    position: relative;
    width: 7.5rem;
    height: 10rem;
    background: rgba(166, 230, 255, 0.5);
    border-radius: 50px;
    /* border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px; */
    box-shadow: 0 0 0.6em 1px #b8b0b0;
}

.card-header-style{
    margin-left: 18px;
    width: 70px;
    height: 20px; 
    vertical-align: top;
    text-align: center;
    font-weight: 700;
    padding-top: 0px;
    box-shadow: 0 0 0.5em 0.5px #fff2b7;
    background-color: rgba(76, 192, 128, 0.8);
    color: rgba(255, 255, 255,1);
    border-radius: 25px;
}

.icon-in-room{
    margin-left: -10px;
    background-color: rgba(255, 255, 255,0.8);
    border-radius: 10px;
}
.font-in-card{
    font-size: 14px;
    border-radius: 15px;
    height: 20px;
    background-color: rgba(198, 234, 240, 0.2);
    color: rgb(255, 255, 255);
    margin-top: 15px;
    box-shadow: 0 0 0.5em 0.5px #dff5f7;
    padding-bottom: 24px;
}


table {
    width: 100%;
}
  
.text-color{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
}

.input-in-table-water{
    background-color: rgb(215, 252, 253); 
    width: 140px;
}
.input-in-table-power{
    background-color: rgb(253, 215, 215); 
    width: 140px;
}

@media  screen and (max-width:420px) {
    .input-in-table-water{
        background-color: rgb(215, 252, 253); 
        width: 50px;
    }
    .input-in-table-power{
        background-color: rgb(253, 215, 215); 
        width: 50px;
    }
}

.mat-header-cell {
    background: #ff6b00;
    color: #fcfcfc;
    text-align: center;
    font-size: 18px;
}


.modal-dialog-full-width {
    
    min-height: 50%;
    min-width: 50%;
    position: relative;
}
.modal-content-full-width {
    /* min-height: 100%; */
    /* border-radius: 10px; */
    /* background-color: #e7e7e7 */

    border-radius: 10px;
    position: relative;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
    overflow: hidden;
    backdrop-filter: blur(7px);
}
.modal-header-bg {
    background-color: #313131;
    color: antiquewhite;
}

.modal-dialog-showInvoice {
    position: relative;
    min-width: 50vw;
}

.modal-content-showInvoice {
    background-color: #e7e7e7 ;
    color: #313131;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 1);
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(255, 255, 255, 1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
    overflow: hidden;
    backdrop-filter: blur(7px);
}
.modal-header-showInvoice {
    position: relative;
    height: 40px;
    background-color: #ffeea3;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 400;

}

.modal-body-showInvoice{
    padding: 2rem;
}

.bg-stepper{
    background-color: rgba(0, 0, 0, 0);
}

.input-style{
    background-color: rgba(0, 0, 0,0);;
    width: 80px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    align-items: center;
    justify-content: center;
    position: relative;
}
.input-bill-style{
    border-color: rgba(0, 0, 0, 0);
    text-align: center;
    width: 100px;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    position: relative;
}
.input-other-style{
    border-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    position: relative;
}

.number-room{
    position: relative;
    vertical-align: middle;
    font-size: 15px;
    top: 15px;
    left: 15px;    

}
.text-header{
    position: relative;
    color: #000000;
    font-size: 20px;
    font-weight: 350;
}

.text-color{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
}
@media  screen and (max-width:420px) {
    
}