
.width-height-container {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 780px;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
     /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
}

@media  screen and (max-width:420px) {
    .width-height-container {
        position: relative;
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        padding: 20px;
        overflow-x: hidden;
         /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
    }
}

.hiden-scroll::-webkit-scrollbar {
    display: none;
}

.leftCol{
    position: relative;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
     /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
}
.rightCol{
    position: relative;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.1);
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
}
  
.text-color{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 8px;
}

.text-leftCol{
    position: relative;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 8px;
}
.text-rightCol{
    position: relative;
    color: #fcfcfc;
    font-size: 20px;
    font-weight: 300;
}

.btn-send{
    position: relative;
    left: 87%;
    top: 37%;
    width: 65px;
}

.btn-status{
    color: #fcfcfc;
    background-color: rgb(187, 91, 91);
    position: relative;
    left: -4%;
    top: 38%;
    width: 130px;
    height: 40px;
    margin-top: 5px;
    border-top-right-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.table-style{
    position: relative;
    margin-top: 15px;
    right: 8px;
}
@media  screen and (max-width:420px) {
    
}