<div class="container width-height-container hiden-scroll">
    <div class="col">
        <div class=" leftCol ml-4">
            <div class="row">
                <div class="d-block mx-auto">
                    <img class="d-block mx-auto" src="https://img.icons8.com/bubbles/180/000000/user.png" />
                    <hr width="100%" size="3" color="fcfcfc">
                </div>

            </div>
        </div>
        <div class="row row-cols-sm-3 ">
            <div class="col ">
                <a class="text-leftCol d-block mx-auto  float-right" type="button"
                    (click)="switchPages(1)">ใบแจ้งหนี้</a>
            </div>
            <div class="col">
                <a class="text-leftCol d-block mx-auto" type="button" (click)="switchPages(2)">แจ้งซ่อม</a>
            </div>
            <div class="col">
                <a class="text-leftCol-history d-block mx-auto  float-left" type="button"
                    (click)="switchPages(3)">ประวัติทั้งหมด</a>
            </div>
        </div>
        <form class="col-lg-10 rightCol hiden-scroll m-3 d-block mx-auto" *ngIf="switchPage == 1">
            <div class="row">
                <div class="col-6">
                    <h1 class="text-rightCol">บิลชำระค่าเช่าห้อง</h1>
                </div>
                <div class="col-6">
                    <p class="text-header float-right ">{{showInvoiceNumber}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <h2 class="text-header">ห้องที่ {{roomNumber}}</h2>
                </div>
                <div class="col-6">
                    <p class="text-header float-right ">{{showCreationDate | date: 'dd/MM/yyyy'}}</p>
                </div>
            </div>
            <form [formGroup]="formInvoice">
                <table class="table table-responsive table-bordered text-color">
                    <thead>
                        <tr class="text-center">
                            <th [width]="150" scope="col" class="align-middle text-center">รายการ</th>
                            <th [width]="150" scope="col" class="align-middle">ครั้งก่อน</th>
                            <th [width]="150" scope="col" class="align-middle">ครั้งนี้</th>
                            <th [width]="170" scope="col" class="align-middle">จำนวนหน่วย</th>
                            <th [width]="150" scope="col" class="align-middle">ราคาหน่วย</th>
                            <th [width]="150" scope="col" class="align-middle">รวม</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        <tr>
                            <th scope="row">ค่าน้ำ</th>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.waterMeterOld}}</p>
                                <!-- <input formControlName="waterMeterOld" class="input-bill-style " type="number"
                                    readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.waterMeterNew}}</p>
                                <!-- <input formControlName="waterMeterNew" class="input-bill-style " type="number"
                                    readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.waterMeterUnit}}</p>
                                <!-- <input formControlName="waterMeterUnit" class="input-bill-style " type="number"
                                    readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.waterPrice | number : '1.2-2'}}</p>
                                <!-- <input formControlName="waterPrice" class="input-bill-style " type="number" readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.waterTotalPrice | number : '1.2-2'}}</p>
                                <!-- <input formControlName="waterTotalPrice" class="input-bill-style " type="number" readonly> -->
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">ค่าไฟ</th>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.powerMeterOld}}</p>
                                <!-- <input formControlName="powerMeterOld" class="input-bill-style " type="number"
                                    readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.powerMeterNew}}</p>
                                <!-- <input formControlName="powerMeterNew" class="input-bill-style " type="number"
                                    readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.powerMeterUnit}}</p>
                                <!-- <input formControlName="powerMeterUnit" class="input-bill-style " type="number"
                                    readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.powerPrice | number : '1.2-2'}}</p>
                                <!-- <input formControlName="powerPrice" class="input-bill-style " type="number" readonly> -->
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.powerTotalPrice | number : '1.2-2'}}</p>
                                <!-- <input formControlName="powerTotalPrice" class="input-bill-style " type="number" readonly> -->
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">ค่าเช่าห้อง</th>
                            <td colspan="4"></td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.invoiceRoomRate | number : '1.2-2'}}</p>
                                <!-- <input formControlName="invoiceRoomRate" class="input-bill-style " type="number" readonly> -->
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">ค่าส่วนกลาง</th>
                            <td colspan="4"></td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.centerService | number : '1.2-2'}}</p>
                                <!-- <input formControlName="centerService" class="input-bill-style " type="number"  readonly> -->
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">อื่นๆ</th>
                            <td colspan="4">
                                <p class="float-left">{{this.formInvoice.value.otherNote}}</p>
                            </td>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.otherPrice | number : '1.2-2'}}</p>
                                <!-- <input formControlName="otherPrice" class="input-other-style text-center"
                                    type="number" (keyup)="calEditInvoice()" [(ngModel)]="otherPrice" > -->
                            </td>
                        </tr>
                        <tr>
                            <th colspan="5">รวม</th>
                            <td>
                                <p class="float-right">{{this.formInvoice.value.invoiceTotal | number : '1.2-2'}}</p>
                                <!-- <input formControlName="invoiceTotal" class="input-bill-style " type="number"
                                    [(ngModel)]="invoiceTotal"> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <!-- <div class=" btn-status">ชำระแล้ว</div> -->
            <div class=" btn-status">ยังไม่ชำระ</div>
        </form>
        <form [formGroup]="formReport" class="col-lg-10 rightCol-report m-3  d-block mx-auto" *ngIf="switchPage == 2">
            <h1 class="text-white">แจ้งซ่อม</h1>
            <select formControlName="title"  class="form-control mb-3 title-size"type="text">
                <option value="อินเทอร์เน็ต">อินเทอร์เน็ต</option>
                <option value="ไฟดับ">ไฟดับ</option>
                <option value="น้ำไม่ไหล">น้ำไม่ไหล</option>
                <option value="อุปกรณ์ภายในห้องชำรุด">อุปกรณ์ภายในห้องชำรุด</option>
                <option value="การชำระค่าห้องพัก">การชำระค่าห้องพัก</option>
                <option value="อื่นๆ">อื่นๆ</option>
              </select>
            <textarea formControlName="note" class="form-control" cols="" rows="6" type="text"
                placeholder="ข้อความ..."></textarea>

            <button class="btn btn-outline-light btn-send  d-block mx-auto mt-5" (click)="onCreateReport()">ส่ง</button>
        </form>


        <div class="col-lg-10 rightCol hiden-scroll m-3 d-block mx-auto" *ngIf="switchPage == 3">
            <mat-stepper #stepper class="bg-stepper">
                <mat-step>
                    <ng-template matStepLabel>
                        <p class="text-white mt-2" type="button" (click)="getInvoiceByFilterMonth()">ค่าเช่าห้อง</p>
                    </ng-template>

                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>
                        <p class="text-white mt-2" type="button" (click)="getInvoiceByFilterMonth()">แจ้งปัญหา</p>
                    </ng-template>
                    <div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                            <ng-container matColumnDef="ห้องที่" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="200"> ห้องที่ </th>
                                <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
                            </ng-container>
                            <ng-container matColumnDef="รายละเอียด" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="200"> รายละเอียด </th>
                                <td mat-cell *matCellDef="let element">
                                    <div type="button" (click)="getReportById(element.reportId)" data-toggle="modal"
                                        data-target="#modalTextReport">
                                        <img
                                            src="https://img.icons8.com/external-inipagistudio-mixed-inipagistudio/32/external-paper-office-equipment-inipagistudio-mixed-inipagistudio.png" />
                                    </div>
                                </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="ข้อความ" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="500"> ข้อความ </th>
                                <td mat-cell *matCellDef="let element"> {{element.note}} </td>
                            </ng-container> -->
                            <ng-container matColumnDef="วันที่" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="100"> วันที่ </th>
                                <td mat-cell *matCellDef="let element"> {{element.date | date: 'dd/MM/yyyy'}} </td>
                            </ng-container>
                            <!-- <ng-container matColumnDef="สถานะ" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="150"> สถานะ </th>
                                <td mat-cell *matCellDef="let element">
                                    <p *ngIf="element.reportStatus == 'รอยืนยัน'" class="btn btn-warning" type="button"
                                        (click)="getReportById(element.reportId,1)"> {{ element.reportStatus}}
                                    </p>
                                </td>
                            </ng-container> -->
                            <ng-container matColumnDef="เพิ่มเติม" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="50"> สถานะ </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="element.reportStatus == 'ยืนยันแล้ว'">
                                        <img src="https://img.icons8.com/office/32/000000/checkmark--v1.png" />
                                    </div>
                                    <div *ngIf="element.reportStatus == 'รอยืนยัน'">
                                        <img src="https://img.icons8.com/color/32/delete-sign--v1.png" />
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ย้ายไปข้อมูลรวม" class="text-color">
                                <th mat-header-cell *matHeaderCellDef width="50"> </th>
                                <td mat-cell *matCellDef="let element">
                                    <a class="float-right " type="button" *ngIf="element.reportStatus == 'ยืนยันแล้ว'"
                                        (click)="onDelete(element.reportId)">
                                        <img
                                            src="https://img.icons8.com/external-anggara-flat-anggara-putra/28/000000/external-delete-interface-anggara-flat-anggara-putra-3.png" />
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </mat-step>
                <!-- <mat-step>
                <ng-template matStepLabel>
                    <p class="text-white mt-2" type="button" (click)="getAllInvoice()">รายการทั้งหมด</p>
                </ng-template>
                
            </mat-step> -->
            </mat-stepper>
        </div>
    </div>
</div>