.width-height-card {
    position: relative;
    align-items: center;
    justify-content: center;
    height: 720px;
    width: auto;
    padding: 20px;
    overflow-x: hidden;
     /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
     box-shadow: 0 0 0.5em 1px #fcfcfc; 
     border-radius: 20px;
}

@media  screen and (max-width:420px) {
    .width-height-card {
        align-items: center;
        justify-content: center;
        height: 100vh;
        width: auto;
        padding: 20px;
        overflow-x: hidden;
         /* background-image: linear-gradient(-135deg, #b2cfd1 0%, #405670 74%); */
        box-shadow: 0 0 0.5em 1px #fcfcfc; 
        border-radius: 20px;
    }
}

.header-title{
    color: #fcfcfc;
    padding-top: 18px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

table{
    margin-top: 3rem;
    width: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.mat-header-cell {
    background: #ff6b00;
    color: #fcfcfc;
    text-align: center;
    font-size: 18px;
}

.mat-cell {
    color: #000000;
    text-align: center;
}

.hiden-scroll::-webkit-scrollbar {
    display: none;
}
